<div class="container mx-auto border border-black text-center w-1/4 mt-12 pt-4">
  <h2 class="uppercase font-bold underline">Build Your Profile!</h2>
  <%= form_with(url: edit_user_profile_url, method: :patch, local: true) do |f| %>
    <div class="mb-4">
      <%= f.label :pic, class: "block text-gray-700 text-md font-bold" %><br />
      <%= f.file_field :pic, class: "shadow border rounded w-full py-2 px-3 text-gray-700" %>
    </div>
    <div class="mb-4">
      <%= f.label :username, class: "block text-gray-700 text-md font-bold" %>
      <%= f.text_field :username, placeholder: "Pick a username...", class: "shadow border border-rounded w-full py-2 px-3 text-gray-700" %>
    </div>
    <div class="mb-4">
      <%= f.label :age, class: "block text-gray-700 text-md font-bold" %>
      <%= f.number_field :age, class: "shadow border border-rounded w-1/4 py-2 px-3 text-gray-700" %>
    </div>
    <div class="mb-4">
      <%= f.submit "Update Profile", class: "bg-blue-500 hover:bg-blue-700 text-white py-6 px-10 mx-16 rounded" %>
    </div>
  <% end %>
</div>
