<h3 class="ui centered header">Edit Your Profile</h3>

<div class="ui container">
  <div class="ui centered card">
    <div class="ui centered grid">
      <%= simple_form_for(@profile, url: user_profile_path(current_user), method: :put, local: true, html: { class: "ui form" }) do |f| %>
        <%= image_tag current_user.profile.profile_pic %>
        <div class="field profile-edit edit-pic">
          <%= f.input :profile_pic, as: :file, required: true %>
        </div>
        <div class="field profile-edit">
          <%= f.input :bio, as: :text %>
        </div>
        <div class="field profile-edit">
          <%= f.input :birthday, as: :date, class: "ui fluid dropdown" %>
        </div>
        <%= f.button :submit, "Save Changes", class: "ui positive button" %>
      <% end %>
    </div>
  </div>
</div>
