<% if @profile.owner == current_user %>
  <%= render 'shared/current_user_info' %>
<% else %>
  <%= render 'shared/user_info' %>
<% end %>

<% if profile_owner?(@profile) %>
  <%= render 'shared/posts_form' %>
<% end %>

<div class="container mx-auto text-center mb-4 w-2/5 py-4">
  <h2 class="underline font-bold pb-4">Your Feed</h2>
  <% @profile.owner.posts.each do |post| %>
    <div class="bg-white shadow-md px-8 py-6 mb-4">
      <div class="mb-4">
        <%= post.body %>
      </div>
      <% if post.post_img.attached? %>
        <div class="mb-4">
          <%= image_tag post.display_post_image, class: "pl-40" %>
        </div>
      <% end %>
      <div class="mb-4">
        <%= link_to post.author.name, user_path(post.author.id) %>
      </div>
    </div>
  <% end %>
</div>
