<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column profile-show">
      <% if @profile.owner == current_user %>
        <%= render 'shared/current_user_info' %>
      <% else %>
        <%= render 'shared/user_info' %>
      <% end %>
    </div>
    <div class="ten wide centered column">
      <% if @profile.owner == current_user %>
        <%= render 'shared/posts_form' %>
      <% end %>
    </div>
    <div class="three wide column">
      Activity Feed
      <%= render_activities(@activities) %>
    </div>
  </div>
  <div class="row">
    <div class="three wide column">
      <img>
    </div>
    <div class="ten wide centered column">
      <h2 class="ui center aligned header">Your Feed</h2>
      <%= render 'shared/feed', profile: @profile %>
    </div>
    <div class="three wide column">
    </div>
  </div>
</div>
