<div class="main-page">
  <div class="flex-custom-container sign-up-form">
    <div class="ui center aligned medium header">
      Making an Account is Easy as 1, 2, 3!
    </div>
    <div class="ui center aligned small header">
      Just fill out the details below to start building connections!
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui very relaxed form"}) do |f| %>
      <%= f.error_notification %>

      <div class="field">
        <%= f.label :name, "Your Name:" %>
        <div class="ui input">
          <%= f.text_field :name, placeholder: "Jax Smith" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :username, "What Username Would You Like?" %>
        <div class="ui input">
          <%= f.text_field :username, placeholder: "user01" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, "Email:" %>
        <div class="ui input">
          <%= f.email_field :email, placeholder: "email@example.com" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, "Choose Your Password:" %>
        <div class="ui input">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "One More Time, For Those in the Back:" %>
        <div class="ui input">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <%= f.submit "Create Account", class: "ui blue submit button" %>
    <% end %>
  </div>
</div>
