<h2 class="ui centered header">Post a Comment</h2>

<div class="ui centered grid">
  <div class="ui eight wide column">
    <div class="ui centered segment">
      <div class="header">
        <%= @post.author.name %> wrote:
      </div>
      <div class="content">
        <%= @post.body %>
      </div>
    </div>
    <%= form_with(model: [@post, @comment], url: post_comments_path, local: true, class: "ui reply form") do |f| %>
      <%= f.hidden_field :commented_post_id, value: @post.id %>
      <%= f.hidden_field :commenter_id, value: current_user.id %>
      <%= f.label :body, "Comment: " %>
      <div class="field">
        <%= f.text_area :body, placeholder: "Write your reply!" %>
      </div>
      <%= f.submit "Post Comment", class: "ui positive button" %>
    <% end %>
  </div>
</div>
