<div class="container mx-auto w-full">
  <h2 class="font-bold underline my-4">Post by <%= @post.author.name %></h2>
  <div class="w-2/5 py-4 pl-4">
    <%= @post.body %>
  </div>
  <%= form_with(model: [@post, @comment], url: post_comments_path, local: true) do |f| %>
    <%= f.hidden_field :commented_post_id, value: @post.id %>
    <%= f.hidden_field :commenter_id, value: current_user.id %>
    <div class="my-4">
      <%= f.label :body, "Comment: " %>
    </div>
    <div class="mb-4">
      <%= f.text_area :body, placeholder: "Write your comment here...", size: "54x10", class: "border border-black" %>
    </div>
    <div>
      <%= f.submit "Post Comment" %>
    </div>
  <% end %>
</div>
