<div class="ui internally celled grid">
  <div class="ui grid four wide column">
    <%= render 'shared/current_user_info' %>
  </div>

  <div class="ui grid eight wide column">
    <h2 class="ui center aligned header">All Users</h2>
    <% @users.each do |user| %>
      <div class="ui centered card">
        <div class="image">
          <%= image_tag user.profile.profile_pic %>
        </div>
        <div class="content">
          <%= link_to user.name, user_path(user), class: "header" %>
          <div class="meta">
            <span class="date"><%= user.email %></span>
          </div>
          <div class="description">
            <%= user.profile.bio %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="paginate">
      <%= will_paginate @users %>
    </div>
  </div>

  <div class="ui grid four wide column">
    <h2 class="ui center aligned header">Potential Friends</h2>
    <% current_user.recommendations.each do |person| %>
      <div class="ui centered card">
        <div class="image">
          <%= image_tag person.profile.profile_pic %>
        </div>
        <div class="content">
          <%= link_to person.name, class: "header" %>
          <div class="description">
            <%= person.profile.bio %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
