<!-- <#% @results.each do |result| %>
  <%#= link_to result.name, user_path(result) %>
<#% end %> -->

<div class="ui internally celled grid">
  <div class="ui grid four wide column" style="margin-left:10px;">
    <%= render "shared/current_user_info" %>
  </div>

  <div class="ui eight wide column">
    <h2 class="ui centered header">Search Results</h2>
    <div class="ui items">
      <% @results.each do |result| %>
        <div class="ui centered item">
          <div class="image">
            <%= image_tag result.profile.profile_pic if result.profile.profile_pic.attached? %>
          </div>
          <div class="content">
            <p class="header results-header"><%= result.name %></p>
            <div class="meta">
              <span class="date"><%= result.email %></span>
            </div>
            <div class="description">
              <%= result.profile.bio %>
            </div>
            <div class="extra">
              <%= link_to "View Their Posts", user_path(result), class: "ui green button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
