<div class="ui internally celled grid">
  <div class="ui four wide column">
    <% if @user == current_user %>
      <%= render 'shared/current_user_info' %>
    <% else %>
      <%= render 'shared/user_info' %>
    <% end %>
  </div>

  <div class="ui eight wide column">
    <h2 class="ui center aligned header">
      <%= @user == current_user ? "My Posts" : "#{@user.name}'s Posts" %>
    </h2>
    <% @user.posts.each do |post| %>
      <div class="ui centered card">
        <% if post.post_img.attached? %>
          <div class="image">
            <%= image_tag post.post_img %>
          </div>
        <% end %>
        <div class="content">
          <%= post.body %>
          <br>
          <small><%= "Posted: #{distance_of_time_in_words(Time.now, post.created_at)} ago" %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>
