<h4 class="ui centered header info-header">My Info</h4>
<div class="ui left floated card">
  <% if current_user.profile.profile_pic.attached? %>
    <%= image_tag current_user.profile.display_image %>
  <% end %>
  <div class="content">
    <div class="header">
      <%= link_to "#{current_user.name}", user_profile_path(current_user) %>
    </div>
    <p><%= current_user.profile.bio %></p>
  </div>
  <div class="extra content">
    <div class="ui vertical centered buttons">
      <%= link_to "My Posts", user_path(current_user), class: "ui green button" %>
      <%= link_to "Friend Requests", user_requests_path(current_user.id), class: "ui blue button" %>
    </div>
  </div>
</div>
