<h4 class="ui centered header info-header">My Info</h4>
<div class="ui left floated card">
  <% if current_user.profile.profile_pic.attached? %>
    <%= image_tag current_user.profile.profile_pic %>
  <% end %>
  <div class="content">
    <div class="header">
      <%= current_user.name %>
    </div>
    <%= current_user.profile.bio %>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <div class="ui basic green button">
        <%= link_to "My Posts", user_path(current_user) %>
      </div>
      <div class="ui basic green button">
        <%= link_to "Friend Requests", user_requests_path(current_user.id) %>
      </div>
    </div>
  </div>
</div>
