<% profile.owner.feed_posts.each do |post| %>
  <div class="ui segment">
    <div class="ui header">
      <%= post.author.name %>
    </div>
    <div class="content post-content">
      <%= post.body %>
    </div>
  <% if post.post_img.attached? %>
    <div class="image">
      <%= image_tag post.display_post_image %>
    </div>
  <% end %>
  <%= link_to new_post_comment_path(post.id) do %>
    <i class="comment icon"></i>
  <% end %>
  <% if post.has_liked?(current_user) %>
    <i class="thumbs up icon"></i>
  <% else %>
    <%= button_to post_likings_path(post_id: post.id, liking: { liker_id: current_user.id, liked_post_id: post.id }), class: "like-button" do %>
      <i class="thumbs up outline icon"></i>
    <% end %>
  <% end %>
  <% if post.comments.any? %>
    <hr />
    <h5 class="ui header">Comments</h5>
    <% post.comments.each do |comment| %>
      <div class="ui segment">
        <div class="ui header">
          <%= comment.commenter.name %> says:
        </div>
        <div class="content">
          <%= comment.body %>
        </div>
      </div>
    <% end %>
  <% end %>

  </div>
<% end %>
