<% profile.owner.feed_posts.each do |post| %>
  <div class="ui segment">
    <div class="header">
      <%= post.author.name %> wrote:
    </div>
    <div class="content">
      <%= post.body %>
    </div>
  <% if post.post_img.attached? %>
    <div class="image">
      <%= image_tag post.display_post_image %>
    </div>
  <% end %>
  <%= link_to "Comment", new_post_comment_path(post.id), class: "positive ui button" %>
  <% if post.has_liked?(current_user) %>
    <button class="ui button"><%= "Likes (#{post.num_likes})" %></button>
  <% else %>
    <%= button_to "Like (#{post.num_likes})", post_likings_path(post_id: post.id, liking: { liker_id: current_user.id, liked_post_id: post.id }), class: "positive ui button" %>
  <% end %>
  <% if post.comments.any? %>
    <hr />
    <h5 class="ui header">Comments</h5>
    <% post.comments.each do |comment| %>
      <div class="header">
        <%= comment.commenter.name %> says:
      </div>
      <div class="content">
        <%= comment.body %>
      </div>
    <% end %>
  <% end %>

  </div>
<% end %>
