<%= turbo_stream_from :posts %>

<% profile.owner.feed_posts.each do |post| %>
  <div class="ui segment">
    <div class="ui header">
      <%= post.author.name %>
    </div>
    <div class="content post-content">
      <p><%= post.body %></p>
    </div>
  <% if post.post_img.attached? %>
    <div class="image">
      <%= image_tag post.display_post_image %>
    </div>
  <% end %>
  <%= render 'shared/media_buttons', post: post %>
  <% if post.comments.any? %>
    <hr />
    <h5 class="ui header">Comments</h5>
    <% post.comments.each do |comment| %>
      <div class="ui segment">
        <div class="ui header">
          <%= comment.commenter.name %> says:
        </div>
        <div class="content">
          <p><%= comment.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
