<!-- <aside class="float-left m-auto w-4/12">
  <#% if @user.profile.profile_pic.attached? %>
    <%#= image_tag @user.profile.display_image, class: "rounded-full items-center justify-center w-32 h-32 m-auto my-4" %>
  <%# end %>
  <div class="w-2/5 bg-gray-400 m-auto py-8 px-4 text-center rounded-full items-center justify-center mb-4">
    <%#= @user.profile.bio %>
  </div>
  <div class="bg-gray-400 m-auto py-4 text-center w-2/5 mb-4">
    <%#= link_to "Friends:", user_friendships_path(@user.id) %> <%= "#{total_friends(current_user)} total" %>
  </div>
  <%# if !is_friend?(current_user, @user) %>
    <div class="m-auto py-4 px-2 text-center">
      <%#= button_to "Send Friend Request", user_requests_path(user_id: current_user.id, request: { sender_id: current_user.id, receiver_id: @user.id }), class: "bg-blue-500 py-4 px-2 rounded" %>
    </div>
  <%# end %>
</aside> -->

<div class="ui left floated card">
  <% if @user.profile.profile_pic.attached? %>
    <%= image_tag @user.profile.display_image %>
  <% end %>
  <div class="content">
    <div class="header">
      <%= current_user.name %>
    </div>
    <%= current_user.profile.bio %>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <div class="ui basic green button">
        <%= link_to "Friends: ", user_friendships_path(@user) %><%= "#{total_friends(current_user)} total" %>
      </div>
      <div class="ui basic green button">
        <%= link_to "Send Friend Request", user_requests_path(user_id: current_user.id, request: { sender_id: current_user.id, reciever_id: @user.id }) %>
      </div>
    </div>
  </div>
</div>
