<%= render 'shared/user_info' %>

<div class="container mx-auto text-centermb-4 w-2/5 py-4">
  <h1 class="text-center font-bold underline">Your Friends</h1>
  <% @friendships.each do |friendship| %>
  <div class="bg-white shadow-md px-4 py-2 text-center h-24">
    <aside class="h-full border border-black float-left text-center">
      Profile pic
    </aside>
    <div class="pt-4 pr-16 font-bold underline">
      <% if is_friender?(friendship, current_user) %>
        <%= "#{friendship.friendee.name}" %>
      <% else %>
        <%= "#{friendship.friender.name}" %>
      <% end %>
    </div>
    <div class="pt-2 pr-20">
      <%= link_to "View Their Posts", user_path(is_friendee?(friendship, current_user) ? friendship.friender : friendship.friendee) %> |
      <%= link_to "Delete Friend", user_friendships_path(is_friendee?(friendship, current_user) ? friendship.friender.id : friendship.friendee.id),
                                   method: :delete, data: { confirm: "Are You Sure?" } %>
    </div>
  </div>
  <% end %>
</div>
