<h2 class="ui centered header">My Friends</h2>

<div class="ui internally celled grid">
  <div class="ui four wide column">
    <%= render 'shared/current_user_info' %>
  </div>

  <div class="ui eight wide centered column">
    <% @friends.each do |friendship| %>
      <div class="ui items friend-item">
        <div class="item">
          <div class="image">
            <% if is_friender?(friendship, current_user) %>
              <%= image_tag friendship.friendee.profile.profile_pic %>
            <% else %>
              <%= image_tag friendship.friender.profile.profile_pic %>
            <% end %>
          </div>
          <div class="content">
            <div class="header">
              <% if is_friender?(friendship, current_user) %>
                <%= friendship.friendee.name %>
              <% else %>
                <%= friendship.friender.name %>
              <% end %>
            </div>
            <div class="description">
              <% if is_friender?(friendship, current_user) %>
                <p><%= friendship.friendee.profile.bio %></p>
              <% else %>
                <p><%= friendship.friender.profile.bio %></p>
              <% end %>
            </div>
            <div class="extra friend-control-btn">
              <div class="ui two vertical buttons">
                <%= link_to "View Their Posts", user_path(is_friendee?(friendship, current_user) ? friendship.friender : friendship.friendee), class: "ui basic green button" %>
                <%= link_to "Delete Friend", user_friendship_path(current_user.id, is_friendee?(friendship, current_user) ? friendship.friender.id : friendship.friendee.id),
                                             method: :delete, data: { confirm: "Are You Sure?" }, class: "ui basic red button" %>
              </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
