<div class="main-page">
  <div class="flex-custom-container sign-in-form">
    <h4 class="ui center aligned medium header">Welcome Back! We're Glad To See You</h4>

    <div class="ui placeholder segment" style="width:50%;">
      <div class="ui two column very relaxed stackable grid">
        <div class="column">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form"}) do |f| %>
            <div class="field">
              <%= f.label :email, "Personal Email" %>
              <div class="ui input">
                <%= f.email_field :email, placeholder: "email@example.com" %>
              </div>
            </div>
            <div class="field">
              <%= f.label :password, "Password" %>
              <div class="ui input">
                <%= f.password_field :password %>
              </div>
            </div>
          <%= f.submit "Login", class: "ui blue submit button" %>
          <% end %>
        </div>
        <div class="middle aligned column">
          <%= link_to "Sign Up", new_user_registration_path, class: "ui big blue button" %>
        </div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
    </div>
  </div>
</div>
