<h2 class="ui centered header">Welcome!</h2>
<h4 class="ui centered header">The Machine is the best place to manufacture friendships!</h4>
<h5 class="ui centered header">Sign Up Today!</h5>

<div class="ui container">
  <div class="ui centered card">
    <div class="ui centered grid">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form" }) do |f| %>
        <div class="field sign-in">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <div class="field sign-in">
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="field">
          <div type="checkbox" tabindex="0" class="hidden">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "positive ui button" %>
        </div>
      <% end %>
      <div class="four wide centered row">
        <%= link_to "No Account? Sign Up!", new_user_registration_path, class: "devise-link" %>
        <%= link_to "Forgot your password?", edit_user_password_path, class: "devise-link" %>
      </div>
    </div>
  </div>
</div>
