<!DOCTYPE html>
<html>
  <head>
    <title>Machine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/full_nav' %>
    <% else %>
      <%= render 'shared/base_nav' %>
    <% end %>
    <% if flash[:notice] %>
      <p class="w-3/4 bg-red-400 mx-auto py-4 text-center">
        <%= notice %>
      </p>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
